*.sqlite3
*.sqlite3-journal
*.pyc
*.swo
*.swp
*.log
*.tmp
.project
.pydevproject
.settings/*
.docker-sync/*
.redcar
.DS_Store
nbproject
*.sublime-*
org.eclipse.*
*~
.idea
*.iml
cache/*
!cache/.gitignore
*.py.orig
*.html.orig
*.css.orig
.sass-cache/
*.scssc
/venv*
TAGS
.dir-locals.el
.noseids
nosetests.xml
node_modules
src/frontend/dist
docs/build
.coverage
.ropeproject
bin/tmp
jsconfig.json
.vscode/settings.json
.pre-commit-config.yaml
.snagsby/
*.mo
.braintree/